/* TABLE OF CONTENT

0. BOOTSTRAP CODES
1. HTML & BODY
2. HEADER
3. WELCOME IMAGE
4. WELCOME TEXT
5. QUESTION TEXT
6. GET STARTED BUTTON
7. START BUTTON
8. RETAKE THE QUIZ BUTTON
9. CHOICE OF ANSWER BUTTON
10. QUESTION COUNT
11. TRUTH OR MYTH OPTIONS
12. FACTS
13. RESPONSE FOR TRUTH OR MYTH
14. QUIZ RESULT BUTTON
15. ASK QUESTION BUTTON
16. FOOTER

*/


/* 0. BOOTSTRAP CODES */
html{font-size:14px;box-sizing:border-box;overflow: auto;-ms-overflow-style:scrollbar}*,::after,::before{box-sizing:inherit}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;padding-right:15px;padding-left:15px}.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-first{-ms-flex-order:-1;order:-1}.order-last{-ms-flex-order:13;order:13}.order-0{-ms-flex-order:0;order:0}.order-1{-ms-flex-order:1;order:1}.order-2{-ms-flex-order:2;order:2}.order-3{-ms-flex-order:3;order:3}.order-4{-ms-flex-order:4;order:4}.order-5{-ms-flex-order:5;order:5}.order-6{-ms-flex-order:6;order:6}.order-7{-ms-flex-order:7;order:7}.order-8{-ms-flex-order:8;order:8}.order-9{-ms-flex-order:9;order:9}.order-10{-ms-flex-order:10;order:10}.order-11{-ms-flex-order:11;order:11}.order-12{-ms-flex-order:12;order:12}.offset-1{margin-left:8.333333%}.offset-2{margin-left:16.666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.333333%}.offset-5{margin-left:41.666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.333333%}.offset-8{margin-left:66.666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.333333%}.offset-11{margin-left:91.666667%}@media (min-width:576px){.col-sm{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-sm-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-sm-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-sm-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-sm-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-sm-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-sm-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-sm-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-sm-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-sm-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-sm-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-sm-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-sm-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-sm-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-sm-first{-ms-flex-order:-1;order:-1}.order-sm-last{-ms-flex-order:13;order:13}.order-sm-0{-ms-flex-order:0;order:0}.order-sm-1{-ms-flex-order:1;order:1}.order-sm-2{-ms-flex-order:2;order:2}.order-sm-3{-ms-flex-order:3;order:3}.order-sm-4{-ms-flex-order:4;order:4}.order-sm-5{-ms-flex-order:5;order:5}.order-sm-6{-ms-flex-order:6;order:6}.order-sm-7{-ms-flex-order:7;order:7}.order-sm-8{-ms-flex-order:8;order:8}.order-sm-9{-ms-flex-order:9;order:9}.order-sm-10{-ms-flex-order:10;order:10}.order-sm-11{-ms-flex-order:11;order:11}.order-sm-12{-ms-flex-order:12;order:12}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.333333%}.offset-sm-2{margin-left:16.666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.333333%}.offset-sm-5{margin-left:41.666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.333333%}.offset-sm-8{margin-left:66.666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.333333%}.offset-sm-11{margin-left:91.666667%}}@media (min-width:768px){.col-md{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-md-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-md-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-md-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-md-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-md-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-md-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-md-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-md-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-md-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-md-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-md-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-md-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-md-first{-ms-flex-order:-1;order:-1}.order-md-last{-ms-flex-order:13;order:13}.order-md-0{-ms-flex-order:0;order:0}.order-md-1{-ms-flex-order:1;order:1}.order-md-2{-ms-flex-order:2;order:2}.order-md-3{-ms-flex-order:3;order:3}.order-md-4{-ms-flex-order:4;order:4}.order-md-5{-ms-flex-order:5;order:5}.order-md-6{-ms-flex-order:6;order:6}.order-md-7{-ms-flex-order:7;order:7}.order-md-8{-ms-flex-order:8;order:8}.order-md-9{-ms-flex-order:9;order:9}.order-md-10{-ms-flex-order:10;order:10}.order-md-11{-ms-flex-order:11;order:11}.order-md-12{-ms-flex-order:12;order:12}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.333333%}.offset-md-2{margin-left:16.666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.333333%}.offset-md-5{margin-left:41.666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.333333%}.offset-md-8{margin-left:66.666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.333333%}.offset-md-11{margin-left:91.666667%}}@media (min-width:992px){.col-lg{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-lg-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-lg-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-lg-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-lg-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-lg-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-lg-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-lg-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-lg-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-lg-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-lg-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-lg-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-lg-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-lg-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-lg-first{-ms-flex-order:-1;order:-1}.order-lg-last{-ms-flex-order:13;order:13}.order-lg-0{-ms-flex-order:0;order:0}.order-lg-1{-ms-flex-order:1;order:1}.order-lg-2{-ms-flex-order:2;order:2}.order-lg-3{-ms-flex-order:3;order:3}.order-lg-4{-ms-flex-order:4;order:4}.order-lg-5{-ms-flex-order:5;order:5}.order-lg-6{-ms-flex-order:6;order:6}.order-lg-7{-ms-flex-order:7;order:7}.order-lg-8{-ms-flex-order:8;order:8}.order-lg-9{-ms-flex-order:9;order:9}.order-lg-10{-ms-flex-order:10;order:10}.order-lg-11{-ms-flex-order:11;order:11}.order-lg-12{-ms-flex-order:12;order:12}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.333333%}.offset-lg-2{margin-left:16.666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.333333%}.offset-lg-5{margin-left:41.666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.333333%}.offset-lg-8{margin-left:66.666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.333333%}.offset-lg-11{margin-left:91.666667%}}@media (min-width:1200px){.col-xl{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}.col-xl-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:100%}.col-xl-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}.col-xl-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}.col-xl-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}.col-xl-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}.col-xl-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}.col-xl-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.col-xl-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}.col-xl-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}.col-xl-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}.col-xl-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}.col-xl-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}.col-xl-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.order-xl-first{-ms-flex-order:-1;order:-1}.order-xl-last{-ms-flex-order:13;order:13}.order-xl-0{-ms-flex-order:0;order:0}.order-xl-1{-ms-flex-order:1;order:1}.order-xl-2{-ms-flex-order:2;order:2}.order-xl-3{-ms-flex-order:3;order:3}.order-xl-4{-ms-flex-order:4;order:4}.order-xl-5{-ms-flex-order:5;order:5}.order-xl-6{-ms-flex-order:6;order:6}.order-xl-7{-ms-flex-order:7;order:7}.order-xl-8{-ms-flex-order:8;order:8}.order-xl-9{-ms-flex-order:9;order:9}.order-xl-10{-ms-flex-order:10;order:10}.order-xl-11{-ms-flex-order:11;order:11}.order-xl-12{-ms-flex-order:12;order:12}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.333333%}.offset-xl-2{margin-left:16.666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.333333%}.offset-xl-5{margin-left:41.666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.333333%}.offset-xl-8{margin-left:66.666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.333333%}.offset-xl-11{margin-left:91.666667%}}
.container-fluid:before,.container-fluid:after,.row:before,.row:after{display:table;content:" "}.clearfix:after,.container:after,.container-fluid:after,.row:after{clear:both}

/* 1. HTML & BODY */
html {
    background: #fff;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    color: #353535;
    line-height: 1.5em;
}

.container {
  text-align: center;
}

/* 2. HEADER */
/*
_    _ _          _  _ _
| |  | |  _|   /\   |  _ \|  _|  _ \
| || | |     /  \  | |  | | |_  | |_) |
|  _  |  |   / /\ \ | |  | |  _| |  _  /
| |  | | |_ / _ \| || | || | \ \
||  ||_//    \\/|||  \\
 */

/* 2. header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding-left:0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-link , .header-link:hover , .header-link:active , .header-link:visited , .header-link:checked {
  color: #000;
  display: inline-block;
  font-size: 14px;
  padding: 35px 5px 28px 5px;
  text-decoration: none;
}

.header a:hover{
  color: #41c0f1;
}

@media (min-width: 1140px) {
  .header-link {
    padding: 35px 10px 28px 10px;
  }
}

@media (max-width: 960px) {
  .header-link, .header-link:hover, .header-link:active, .header-link:visited, .header-link:checked {
    color: #000;
    font-size: 14px;;
    padding: 20px 0 20px 20px;
    text-decoration: none;
  }
  .header-more-content{
    border-top:1px solid #ddd;
  }
  .header-more-content .header-link{
    display:none;
  }

}

.header-logo {
  height: 75px;
  margin: 5px 0 0 15px;
  padding: 10px;
  width: auto;
}

@media (max-width: 960px) {
  .header-logo {
    height: 60px;
    margin-right: -45px;
    margin-top: 0;
    padding: 10px;
    width: auto;
  }
}

/* 2.1 header menu */

.header .header-menu {
  float: right;
}

.header-menu-div,.header-menu-div-signup{
  border-bottom:3px solid transparent;
  display: inline-block;
}

@media(max-width:960px){
  .header-menu-div-signup{
    display: none;
  }
}


@media (max-width: 960px) {
  .header .header-menu {
    background-color: #fff;
    /* border-bottom: 1px solid #ddd; */
    height:0;
    overflow: hidden;
    position: absolute;
    width: 100.5%;
    z-index: 99999;
  }
  .header-menu-div,.header-menu-div-signup{
    width:100%;
  }
}

.header-logo-lang{
  display: inline-flex;
}

/* 2.2 header menu icon */

.header .header-menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

@media (min-width: 960px) {
  .header .header-menu-icon {
    display: none;
  }
}

@media (max-width:960px) {
  .header .header-menu-icon {
    display: block;
  }
}

.header .header-menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .header-menu-icon .navicon:before,
.header .header-menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .header-menu-icon .navicon:before {
  top: 5px;
}

.header .header-menu-icon .navicon:after {
  top: -5px;
}

.header-more-icon {
  height: 15px;
  margin-left: 5px;
  position: relative;
  top: 2px;
  width: 15px;
}

/* 2.3 header button */

.header .header-menu-btn {
  display: none;
}

.header .header-menu-btn:checked~.header-menu {
  height:calc(100vh - 80px);
  overflow: scroll;
  transition: all 0.5s;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon {
  background: transparent;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:before,
.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.button-login-signup,.header-menu-div-signup .button-login-signup:hover {
  background-color: #41c0f1;
  border: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  height: 50px;
  margin-top: 19px;
  padding: 15px 28px;
  position: relative;
  text-decoration: none;
  text-align: center;
  top: -4px;
}



.icon-userlogin svg {
  margin-right: 24px;
  width: 40px;
}

.icon-userlogin img {
  height: 40px;
  margin-right: 24px;
  width: 40px;
}

.header-menu-div-2{
  padding-bottom: 3px;
}

 /* 2.7 logo and language side by side */
 .header-lang-left {
  color: #000;
  display: inline-block;
  margin: 13px 10px 0 10px;
  padding: 22px 0;
  text-decoration: none;
}

.header-link-lang{
  color: #000;
  display:none;
  float:right;
  margin-top: 15px;
  padding:0 10px;
  text-decoration: none;
}


/* 2.4 header dropdown */

@media (min-width: 960px) {
  .header-menu-div:hover {
    border-bottom: 3px solid #41c0f1;
  }
  .header-menu-div:hover a,.header-menu-div:hover a svg{
    color: #41c0f1;
    fill: #41c0f1;
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .header-link-lang{
    display:inline-block;
  }
}
.header-dropdown-content {
  background-color: #fff;
  height:0;
  min-width: 160px;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
}

.header-more-content .header-dropdown-content a {
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: left;
}


@media (min-width: 960px) {
.header-more-content:hover .header-dropdown-content,.header-dropdown-content:hover{
  height:auto;
  border:1px solid #eee;
}
.header-more-content .header-dropdown-content a:hover {
  color:#41c0f1;
}
}

@media (max-width: 960px) {
  .header-more-content,.header-dropdown-content{
      height:calc(58px * 9); 
      /* /TODO Make this auto/ */
      width:100%;
  }
  .header-dropdown-content a {
    font-size: 14px;;
      margin-left:10px;
  }

}

/* 2.5 media queries for content in hamburger for mobile */

@media (min-width: 960px) {
  .header li {
    float: left;
  }
}

@media(max-width:576px){
  .header-link-lang{
    margin-top:3px;
  }
}

/* 2.6 media queries for mobile and tab - 768px */

@media (max-width: 960px) {
  .icon-userlogin {
    align-items: center;
    border-bottom:1px solid #ddd;
    display: inline-flex;
    font-size: 14px;
    padding:20px 30px;
    width:100%;
  }
  .icon-userlogin a{
    color:#000;
    text-decoration: none;
  }
}

@media(max-width: 960px){
  .header{
    height: 65px;
  }
}

@media(min-width: 961px){
  .header{
    height: 86px;
  }
}

/* 2.7 logo and language side by side */
.header-lang-left {
  color: #000;
  display: inline-block;
  margin: 13px 10px 0 10px;
  padding: 22px 0;
  text-decoration: none;
}
.header-logo-lang{
  display: inline-flex;
}

/* 3. WELCOME IMAGE */
.welcome-img {
    display: block;
    margin: 20px auto;
    width: 30%;
    padding-bottom: 30px;
}

@media(max-width: 576px) {
    .welcome-img {
        margin-bottom: 30px;
        width: 40%;
    }
}

@media(max-width: 576px) {
    p {
        font-size: 13px;
        line-height: 23px;
    }
}

/* 5. CHANGE LANGUAGE BUTTON */
.bahasa-button {
  background: #4575CB;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 6px var(--shadow1);
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  margin: 10px;
  padding: 15px 50px;
  transition: all .35s ease-in;
}

@media(max-width: 576px) {
  .bahasa-button {
    margin-left: 8px;
    font-size: 11px;
    padding: 8px 21px;
  }
}

.en-button {
    background: #4575CB;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 6px var(--shadow1);
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    margin: 10px;
    padding: 15px 50px;
    transition: all .35s ease-in;
}

@media(max-width: 576px) {
  .en-button {
    margin-left: 8px;
    font-size: 11px;
    padding: 8px 21px;
  }
}

h2,h4,h5,h6 {font-weight: bold;}

/* 4. WELCOME TEXT */
h1 {
    font-size: 28px;
    margin: 0 0 20px;
    color: #3c3c3c;
    padding-top: 50px;
    text-align: center;
}

@media(max-width: 576px) {
    h1 {
        font-size: 20px;
        padding: 10px;
    }
}



h2 {
    font-size: 22px;
    margin: 15px 0;
}

/* 5. QUESTION TEXT */
h3 {
    font-size: 40px;
    margin: 15px 0 10px;
    line-height: 49px;
    padding-top: 40px;
    text-align: center;
}

@media(max-width: 576px) {
    h3 {
        font-size: 17px;
        margin-top: -40px;
        line-height: 26px;
    }
}

h4 {
    font-size: 16px;
    margin: 10px 0;
}

h5 {
    font-size: 14px;
    margin: 10px 0 5px;
}

h6 {
    font-size: 12px;
    margin: 5px 0;
}

strong { font-weight: bold; }
em { font-style: italic; }
ul { list-style-type: circle; }
ol { list-style-type: decimal; }
ol li { list-style-type: decimal; margin-left: 20px; }

/* 6. GET STARTED BUTTON */
.button {
    width: auto;
    padding: 18px 50px;
    color:#ffffff;
    background-color: #5DC7F6;
    border: none;
    font-size: 20px;
    height: 56px;
    border-radius: 5px;
    box-shadow: 0 3px 6px #00000029;
    text-decoration: none;
    /* margin-left: 30px; */
    margin-top: 0px;
}

@media(max-width: 576px) {
    .button {
        margin-left: 8px;
        font-size: 14px;
        padding: 8px 21px;
    }
}

.button:hover {
    background-color: #5DC7F6;
}

/* 7. START BUTTON */
.startQuiz {
    margin-top: 40px;
}

/* 8. RETAKE THE QUIZ BUTTON */
/* .tryButton {
    float: none;
    margin: 20px 0;
    width: auto;
    padding: 18px 50px;
    color:#ffffff;
    background-color: #5DC7F6;
    border: none;
    font-size: 20px;
    height: 56px;
    border-radius: 5px;
    box-shadow: 0 3px 6px #00000029;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 0px;

} */

/* 9. CHOICE OF ANSWER BUTTON */
.custom-input {
    display: none;
}

.custom-label {
    background-color: #fff;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0 2px 14px #00000029;
    color: #3c3c3c;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    width: 40%;
}

@media(max-width: 576px) {
    .custom-label {
        width: 100%;
        font-size: 14px;
        line-height: 23px;
        padding: 10px 20px;
        margin: -9px 0;
        margin-left: 20px;
    }
}

.custom-label--selected {
    background-color:  #5DC7F6;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 14px #00000029;
    color: #fff;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    width: 40%;
}

@media(max-width: 576px) {
    .custom-label--selected {
        width: 100%;
        font-size: 14px;
        line-height: 23px;
        padding: 10px 20px;
        margin: -9px 0;
        margin-left: 20px;
    }
}

/* clearfix */
.quizArea, .quizResults {
    zoom: 1;
}

.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.quizArea:after, .quizResults:after {
    clear: both;
}

/* 10. QUESTION COUNT */
.questionCount {
    font-size: 20px;
    font-style: italic;
}

@media(max-width: 576px) {
    .questionCount {
        font-size: 10px;
    }
}

.questionCount span {
    font-weight: bold;
}

ol.questions {
    margin-top: 20px;
    margin-left: 0;
}

/* 11. TRUTH OR MYTH OPTIONS */
ol.questions li {
    margin-left: 0;
    font-size: 20px;
    padding: 20px;
    display: inline;
    line-height: 1.5em;
    margin-bottom: 15px;
}

ul.answers {
    margin: 0;
}

@media(max-width: 576px) {
    ul.answers {
        margin: 0 40px 14px 0;
    }
}

/* 12. FACTS */
ul.responses li {
    margin: 20px 115px 10px;
}

@media(max-width: 576px) {
    ul.responses li {
        margin: 0 0 10px
    }
}

/* 13. RESPONSE FOR TRUTH OF MYTH */
ul.responses li p span {
    display: block;
    font-weight: bold;
    font-size: 28px;
}

@media(max-width: 576px) {
    ul.responses li p span {
        font-size: 15px;
    }
}

.complete ul.answers li.correct, ul.responses li.correct p span {
    padding-bottom: 15px;
    color: #6C9F2E;
}

ul.responses li.incorrect p span {
    padding-bottom: 15px;
    color: #B5121B;
}

/* 14. QUIZ RESULTS BUTTONS */
.quizResults h3 {
    font-size: 27px;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 20px;
}

.quizResults h3 span {
    font-weight: normal;
    font-style: italic;
}

.quizResultsCopy {
    clear: both;
    margin-top: 20px;
}

/* 15. SPEAK TO DOCTOR BUTTON */
.speak-button {
    background: #5DC7F6;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 56px;
    padding: 18px 50px;
    width: auto;
    font-size: 20px;
}

@media(max-width: 576px) {
    .speak-button {
      width: 100%;
      border: none;
      border-radius: 0;
      font-size: 13px;
      margin: 0;
      padding: 1px 10px;
    }
}

/* 16. ASK QUESTION BUTTON */
.ask-button {
    background: #4575CB;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 56px;
    padding: 18px 50px;
    width: auto;
    font-size: 20px;
    margin: 10px;
}

@media(max-width: 576px) {
    .ask-button {
        width: 100%;
        border: none;
        border-radius: 0;
        font-size: 13px;
        margin: 0;
        padding: 1px 10px;
    }
    .float-button {
      display: flex;
      align-items: center;
      position: fixed;
      bottom: 0;
      z-index: 20;
    }

    .padding-mobile {
      padding: 0;
    }
}



.quizShortText {
  font-size: 20px;
  padding: 10px;
  line-height: 1.5em;
}

@media(max-width: 576px) {
  .quizShortText {
    font-size: 13px;
  }
}

/* 16. FOOTER */

/*
__ __   __ ___ __ ___
|  _/ _ \ / _ \_   _|  __|  _ \
| |_ | |  | | |  | | | |  | |_  | |__) |
|  _|| |  | | |  | | | |  |  _| |  _  /
| |   | |_| | || | | |  | |_| | \ \
||    \_/ \__/  ||  |__||  \_\


*/
/* 3. footer */

.footer {
  background-color: #f6f6f6;
  bottom: 0;
  overflow: hidden;
  padding-bottom: 40px;
}

.footer a:hover{
    color: #41c0f1;
}

.first-footer p {
  color: #3c3c3c;
  line-height: 1.8em;
  margin-top: 15px;
  padding-right: 90px;
}

.footer .container{
  padding:0;
}

@media (max-width: 960px) {
  .first-footer p {
    padding-right:0;
  }
}

.first-footer h3 {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: bold;
  margin: 27px 0 27px;
}

.footer-readmore-link {
  color: #41c0f1;
  margin-left: 20px;
  text-decoration: none;
}

.footer-readmore-arrow {
  height: 15px;
  width: 15px;
}

.footer-content>a {
  color: #3c3c3c;
  display: block;
  padding: 4px 0;
  text-decoration: none;
}


/* 3.1 footer icon */

.footer-social-media svg {
  height: 24px;
  margin-right: 5px;
  width: 24px;
}

.footer-logo {
  height: 60px;
  margin-top: 33px;
  padding: 4px;
  width: auto;
}

@media (max-width: 768px) {
  .footer-logo {
    height: 60px;
    margin-top: 33px;
    padding: 4px;
    width: auto;
  }
}

/* 3.2 footer sitemap */

.footer-sitemap {
  margin-top: 80px;
}

.footer-sitemap-title h2 {
  color: #3c3c3c;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer-sitemap-title h2 {
    color: #3c3c3c;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
  }
}

/* 3.3 footer tabs */
/** code by webdevtrick( https://webdevtrick.com ) */
.footer-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 767px) {
  .footer-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 15px;
  }
}

.footer-tabs label {
  cursor: pointer;
  order: 1;
  margin:23px;
}

.footer-tabs .footer-tab {
  display: none;
  flex-grow: 1;
  order: 99;
  width: 100%;
}

.footer-tabs input[type="radio"] {
  display: none;
}

.footer-tabs input[type="radio"]:checked+label+.footer-tab {
  display: block;
}

.footer-tab {
  margin-left: -3px;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .footer-tab {
    text-align: left;
  }
}

.footer-tab>a {
  color: #3c3c3c;
  display: inline-block;
  text-decoration: none;
}

.footer-tab a:nth-child(1)~a::before {
  content: "  |  ";
}